@import 'https://fonts.googleapis.com/css?family=Raleway';

/* VARIABILI */
:root {
    --primary-color: rgb(12, 177, 189);
    --secondary-color: white;
}

/* REGOLE GENERALI */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    height: 85px;
    padding: 0 10px;
    user-select: none;
}

/* NAVBAR LOGO  */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 70px;
    margin: 10px;
}

/* NAVBAR LINKS */
.navbar-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar-links a {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4em;
    padding: 0.55em 2em;
    margin: 0 3em;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.navbar-links a:before,
.navbar-links a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    content: "";
    opacity: 0;
    transition: 0.25s;
}

.navbar-links a:before {
    top: 0;
    transform: translateY(-10px);
}

.navbar-links a:after {
    bottom: 0;
    transform: translateY(10px);
}

.navbar-links a:hover:before,
.navbar-links a:hover:after {
    opacity: 1;
    transform: translateY(0);
}

/* NAVBAR BUTTONS */
.navbar-buttons {
    display: flex;
}

.navbar-buttons button {
    margin-left: 20px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* EFFETTI HOVER */
nav div *:hover:not(.navbar-search-bar form, input) {
    opacity: 0.7;
}